body{
    display: flex;
    justify-content: center;
}

#quadro{
    width: 60.1vw;
    display: grid;
    grid-template-areas:    'c1 c2 c2 c3 c3 c4'
                            'c5 c6 c6 c7 c7 c4'
                            'c8 c6 c6 c9 c10 c4'
                            'c8 c11 c12 c13 c13 c4'
                            'c18 c11 c14 c15 c15 c20'
                            'c18 c17 c16 c15 c15 c20'
                            'c18 c17 c19 c19 c19 c20';
    grid-template-rows: 10vh 30vh 30vh 15vh 15vh 10vh 10vh;
    grid-template-columns: 5vw 15vw 15vw 20vh 20vh 5vw;
    background: black;
    grid-gap: 5px;
    border: 8px solid #abc0d3;
}


/* CORES */
div{
    background-color: #e8e5e0;
}

.amarelo{
    background-color: yellow;
}

.vermelho{
    background-color: red;
}

.preto{
    background-color: black;
    color: white
}

.azul{
    background-color: blue;
}


/* DIVS */
#c1{
    grid-area: c1;
}

#c2{
    grid-area: c2;
}

#c3{
    grid-area: c3;
}

#c4{
    grid-area: c4;
}

#c5{
    grid-area: c5;
}

#c6{
    grid-area:c6;
}

#c7{
    grid-area: c7;
}

#c8{
    grid-area: c8
}

#c9{
    grid-area: c9
}

#c10{
    grid-area: c10
}

#c11{
    grid-area: c11
}

#c12{
    grid-area: c12
}

#c13{
    grid-area: c13
}

#c14{
    grid-area: c14
}

#c15{
    grid-area: c15
}

#c16{
    grid-area: c16
}

#c17{
    grid-area: c17
}

#c18{
    grid-area: c18
}

#c19{
    grid-area: c19
}

#c20{
    grid-area: c20
}